<app-header></app-header>
<div class="login text-center">
  <h3>Sign in</h3>
  <form class="form-horizontal"
        role="form"
        name="loginForm"
        novalidate
        #loginForm="ngForm">

    <br>
    <div *ngIf="errorMessage"
         class="text-center text-danger">{{errorMessage}}</div>
    <br>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user"></i>
        </span>
        <input type="text"
               id="username"
               class="form-control"
               [ngClass]="{'is-invalid': usernameField.touched && usernameField.invalid}"
               placeholder="Username"
               name = "username"
               [(ngModel)] ="username"
               #usernameField = "ngModel"
               required />
        <div *ngIf="usernameField.touched && usernameField.invalid"
             class="invalid-feedback">
          Username is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-lock"></i>
        </span>
        <input type="password"
               id="password"
               class="form-control"
               [ngClass]="{'is-invalid': passwordField.touched && passwordField.invalid}"
               placeholder="Password"
               name = "password"
               [(ngModel)] ="password"
               #passwordField = "ngModel"
               required />
        <div *ngIf="passwordField.touched && passwordField.invalid"
             class="invalid-feedback">
          Password is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit"
              class="btn btn-default btn-primary btn-block"
              (click)="login(username, password)"
              [disabled] = "loginForm.invalid">
        Login
      </button>
    </div>
  </form>

  <div class="row pull-right">
    <a routerLink="/register">Not a member?</a>
  </div>

</div>
