.modal-btn {
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px 40px;
}

.modal-form {
  margin-left: 10%;
  margin-right: 10%;
}

.text-center {
  text-align : center;
  margin: auto;
}

.sidemenu {
  margin-top: 100px;
}

@media (min-width: 576px){
  .fixed {
    width: 100%;
    height : 100%;
    position: absolute;
  }

  .col-sm-3 {
    max-width: 100%;
  }
}

.btn {
  white-space: normal;
}

.send-req, .list-group {
  margin-top: 20px;
}

.list-group-item {
  border-color: black;
  color: black;
}

.list-group-item:hover {
  background-color: #ced4da;
}

.friends-of-friends {
  margin-left: -40px;
  margin-top: 20px;
  color: #2c3e50;
  position: absolute;
}

.btn {
  border-radius: 8px;
}

#fileUpload{
  display:none;
}

.profile-pic .centered {
  opacity: 0;
  position: absolute;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.profile-pic:hover .centered,
.profile-pic.active .centered {
  opacity: 1;
}


.centered {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
}

.profile-pic {
  position: relative;
  text-align: center;
  color: black;
}

.dropdown-item, .dropdown-menu {
  color : black;
  background-color : #dddddd;
}

.small-image {
  height: 50px;
  width: 50px;
}

.media-body {
  margin-left: 20px;
  margin-top: 10px;
}

.profile-name {
  color: #2c3e50;
}

.people {
  margin-top: 20px;
}

.friends-modal{
  height: 400px;
  overflow-y: auto;
}
