<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">GET SOCIO</h1>
      <h4 class="masthead-subheading mb-0">Connect with your friends across the world</h4>
      <a routerLink="/register" class="btn btn-warning btn-xl rounded-pill mt-5">Get Started</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="http://www.cctvwhzg.com/u/cms/www/201610/04183355mkc1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Make friends...</h2>
          <p>There are many "friends" who are more akin to connections than buddies; Stay connected with them and check for their updates...</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://i.pinimg.com/originals/b5/bd/0b/b5bd0bb64864be6985b573c0d2d8668a.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Share your moments...</h2>
          <p>Friendship is all about sharing. Express your thoughts by writing blogs or post an image to share what's on your mind.... </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://thumbs.dreamstime.com/b/facebook-like-button-johor-malaysia-july-icon-voting-system-used-to-rate-user-comments-low-shu-ching-hand-holding-32860742.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Show Love...</h2>
          <p>Share your feelings by liking and commenting on posts, sharing blogs, etc..</p>
        </div>
      </div>
    </div>
  </div>
</section>
